global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    monitor: 'kubric-monitor'
    environment: 'production'

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093

rule_files:
  - /etc/prometheus/rules.yml

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'kubernetes'
    kubernetes_sd_configs:
      - role: pod
        namespaces:
          names:
            - kubric
    relabel_configs:
      - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
        action: keep
        regex: true
      - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
        action: replace
        target_label: __metrics_path__
        regex: (.+)
      - source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
        action: replace
        regex: ([^:]+)(?::\d+)?;(\d+)
        replacement: $1:$2
        target_label: __address__

  - job_name: 'clickhouse'
    static_configs:
      - targets: ['clickhouse:9127']

  - job_name: 'nats'
    static_configs:
      - targets: ['nats:8222']

  - job_name: 'postgres'
    static_configs:
      - targets: ['postgres:9187']

  - job_name: 'temporal'
    static_configs:
      - targets: ['temporal:9090']
