GHCR_IMAGE_PREFIX=ghcr.io/managekube-hue/kubric-uidr
KUBRIC_TAG=latest

POSTGRES_USER=kubric
POSTGRES_PASSWORD=change_me
POSTGRES_DB=kubric

CLICKHOUSE_USER=kubric
CLICKHOUSE_PASSWORD=change_me
CLICKHOUSE_DB=kubric

NEO4J_AUTH=neo4j/change_me
MINIO_ROOT_USER=kubric
MINIO_ROOT_PASSWORD=change_me
